# Sales_Analytics_Project

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel("a1_Dataset_10Percent.xlsx")

In [3]:
data.head()

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
0,17147654,5.0,NaN,NaN,NaN,NaN,NaN,Tin,0.01,5.0,0
1,8415498,15.0,NaN,NaN,M,NaN,NaN,Gold,8000.00,5.0,1
2,12107603,NaN,NaN,NaN,M,Midlands,East,Tin,0.01,NaN,1
3,14400995,8.0,28.0,NaN,F,NaN,NaN,Tin,0.01,NaN,1
4,28724674,14.0,67.0,NaN,NaN,NaN,NaN,Tin,0.01,7.0,0

In [4]:
data.tail()

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
22218,52830893,13.0,49.0,B,M,South East,London,Silver,500.00,9.0,0
22219,52834058,13.0,65.0,B,F,South East,London,Silver,1500.00,5.0,0
22220,52834376,15.0,73.0,D,U,South East,S & S East,Gold,6053.06,12.0,0
22221,52837057,9.0,70.0,B,F,North,Yorkshire,Gold,6000.00,5.0,0
22222,52838096,11.0,66.0,B,F,North,N West,Silver,5000.00,5.0,0

In [5]:
data['LoyalClass'].unique()

array(['Tin', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [7]:
data.isnull()

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
0,False,False,True,True,True,True,True,False,False,False,False
1,False,False,True,True,False,True,True,False,False,False,False
2,False,True,True,True,False,False,False,False,False,True,False
3,False,False,False,True,False,True,True,False,False,True,False
4,False,False,False,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
22218,False,False,False,False,False,False,False,False,False,False,False
22219,False,False,False,False,False,False,False,False,False,False,False
22220,False,False,False,False,False,False,False,False,False,False,False
22221,False,False,False,False,False,False,False,False,False,False,False
22222,False,False,False,False,False,False,False,False,False,False,False

In [6]:
data.isna().sum()

ID                    0
DemAffl            1085
DemAge             1508
DemClusterGroup     674
DemGender          2512
DemReg              465
DemTVReg            465
LoyalClass            0
LoyalSpend            0
LoyalTime           281
TargetBuy             0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22223 entries, 0 to 22222
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               22223 non-null  int64
 1   DemAffl          21138 non-null  float64
 2   DemAge           20715 non-null  float64
 3   DemClusterGroup  21549 non-null  object
 4   DemGender        19711 non-null  object
 5   DemReg           21758 non-null  object
 6   DemTVReg         21758 non-null  object
 7   LoyalClass       22223 non-null  object
 8   LoyalSpend       22223 non-null  float64
 9   LoyalTime        21942 non-null  float64
 10  TargetBuy        22223 non-null  int64
dtypes: float64(4), int64(2), object(5)
memory usage: 1.9+ MB

In [9]:
data.memory_usage()

Index                 132
ID                 177784
DemAffl            177784
DemAge             177784
DemClusterGroup    177784
DemGender          177784
DemReg             177784
DemTVReg           177784
LoyalClass         177784
LoyalSpend         177784
LoyalTime          177784
TargetBuy          177784
dtype: int64

In [11]:
data.shape

(22223, 11)

In [12]:
#converting the categorical values into numerical representation
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [13]:
data['DemClusterGroup']=label_encoder.fit_transform(data['DemClusterGroup'])

In [14]:
data['DemGender']=label_encoder.fit_transform(data['DemGender'])
data['DemReg']=label_encoder.fit_transform(data['DemReg'])
data['DemTVReg']=label_encoder.fit_transform(data['DemTVReg'])
data['LoyalClass']=label_encoder.fit_transform(data['LoyalClass'])

In [15]:
data.head()

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
0,17147654,5.0,NaN,7,3,5,13,3,0.01,5.0,0
1,8415498,15.0,NaN,7,1,5,13,0,8000.00,5.0,1
2,12107603,NaN,NaN,7,1,0,2,3,0.01,NaN,1
3,14400995,8.0,28.0,7,0,5,13,3,0.01,NaN,1
4,28724674,14.0,67.0,7,3,5,13,3,0.01,7.0,0

In [16]:
#filling the missing values with the mean or the mode 
data['DemAffl']=data['DemAffl'].fillna(data['DemAffl'].mode()[0])
data['DemAge']=data['DemAge'].fillna(data['DemAge'].mode()[0])
data['DemClusterGroup']=data['DemClusterGroup'].fillna(data['DemClusterGroup'].mode()[0])
data['DemReg']=data['DemReg'].fillna(data['DemReg'].mode()[0])
data['DemTVReg']=data['DemTVReg'].fillna(data['DemTVReg'].mode()[0])
data['LoyalTime']=data['LoyalTime'].fillna(data['LoyalTime'].mean())

In [17]:
data.head()

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
0,17147654,5.0,51.0,7,3,5,13,3,0.01,5.00000,0
1,8415498,15.0,51.0,7,1,5,13,0,8000.00,5.00000,1
2,12107603,8.0,51.0,7,1,0,2,3,0.01,6.56467,1
3,14400995,8.0,28.0,7,0,5,13,3,0.01,6.56467,1
4,28724674,14.0,67.0,7,3,5,13,3,0.01,7.00000,0

In [18]:
df=data.drop(['ID'],axis=1)

In [19]:
x=df.drop(['TargetBuy'],axis=1) #independent variables 
y=df['TargetBuy']

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.85)

In [21]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()

In [22]:
logmodel.fit(x_train,y_train)

C:\Users\aryas\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [23]:
logmodel.fit(x_train,y_train)

C:\Users\aryas\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
y_hat=logmodel.predict(x_test)

In [26]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_hat,y_test)

In [27]:
print(ac)

0.8131373725254949